version: '3.9'

services:
  redis-db:
    extends:
      file: ./custom/services/redis.yml
      service: redis-db

  db-init:
    extends:
      file: ./custom/services/db.yml
      service: db-init

  db:
    extends:
      file: ./custom/services/db.yml
      service: db

  backend:
    depends_on:
      - db
      - redis-db
    extends:
      file: ./custom/services/backend.yml
      service: backend
    links:
      - db:database

  visualizer:
    extends:
      file: ./custom/services/visualizer.yml
      service: visualizer

  sig-provider:
    extends:
      file: ./custom/services/sig-provider.yml
      service: sig-provider

  frontend:
    depends_on:
      - backend
    extends:
      file: ./custom/services/frontend.yml
      service: frontend

  proxy:
    depends_on:
      - backend
      - frontend
    extends:
      file: ./custom/services/nginx.yml
      service: proxy