# Copyright (C) 2022, Gauthier Leonard
# See the file LICENSE for licensing terms.
---
# Avalanchego version
avalanchego_version: 1.9.0
avalanchego_binary_name: "avalanchego-linux-amd64-v{{ avalanchego_version }}.tar.gz"
avalanchego_binary_url: "https://github.com/ava-labs/avalanchego/releases/download/v{{ avalanchego_version }}/{{ avalanchego_binary_name }}"

# Install directories
avalanchego_install_dir: /opt/avalanche/avalanchego
avalanchego_releases_dir: "{{ avalanchego_install_dir }}/releases"
avalanchego_current_dir: "{{ avalanchego_install_dir }}/current"
avalanchego_plugins_dir: "{{ avalanchego_current_dir }}/plugins"
avalanchego_vms_dir: /opt/avalanche/vms

# DB directory
avalanchego_db_dir: /var/lib/avalanchego/db

# Configuration directories
avalanchego_conf_dir: /etc/avalanche/avalanchego/conf
avalanchego_chains_conf_dir: "{{ avalanchego_conf_dir }}/chains"
avalanchego_vms_conf_dir: "{{ avalanchego_conf_dir }}/vms"
avalanchego_certs_dir: /etc/avalanche/avalanchego/staking

# Log directory
avalanchego_log_dir: /var/log/avalanche/avalanchego

# User
avalanchego_user: avalanche

# Network
avalanchego_use_static_ip: yes
# Change this to public IP to accept API calls from the outside
avalanchego_http_host: 127.0.0.1
avalanchego_http_port: 9650
avalanchego_staking_port: 9651

# Bootstrapping
avalanchego_network_id: fuji
avalanchego_use_existing_certs: no
avalanchego_local_certs_dir: "{{ playbook_dir }}/files/certs"
avalanchego_bootstrap_node_id: NodeID-7Xhw2mDxuDS44j42TCB6U5579esbSt3Lg
avalanchego_bootstrap_db: ""

# Subnets
avalanche_whitelisted_subnets: ""

# VMs
avalanchego_vms_install:
  - timestampvm=1.2.0

# node.json
avalanchego_node_json:
  # Network
  http-host: "{{ avalanchego_http_host }}"
  http-port: "{{ avalanchego_http_port }}"
  staking-port: "{{ avalanchego_staking_port }}"
  api-admin-enabled: true
  # Consensus
  network-id: "{{ avalanchego_network_id }}"
  snow-sample-size: 20
  snow-quorum-size: 15
  snow-mixed-query-num-push-vdr: 10
  staking-enabled: true
  # Paths
  db-dir: "{{ avalanchego_db_dir }}"
  chain-config-dir: "{{ avalanchego_chains_conf_dir }}"
  vm-aliases-file: "{{ avalanchego_vms_conf_dir }}/aliases.json"
  log-dir: "{{ avalanchego_log_dir }}"
  # Logging
  log-level: info
  # Subnets
  whitelisted-subnets: "{{ avalanche_whitelisted_subnets }}"

# Chains configurations
avalanchego_chains_configs:
  C:
    state-sync-enabled: true

# Node keystore
## "admin user" (used by admin-user and validate tasks)
avalanche_node_username: admin
avalanche_node_password: password

## Pre-funded account (only on local network)
avalanche_prefunded_username: ewoq
avalanche_prefunded_password: I_l1ve_@_Endor
avalanche_prefunded_private_key: PrivateKey-ewoqjP7PxY4yr3iLTpLisriqt94hdyDFNgchSxGGztUrTXtNN

# Validation properties
avalanchego_validation_start_time: "{{ ansible_date_time.epoch | int + 60 }}" # in 1 minute
avalanchego_validation_end_time: "{{ ansible_date_time.epoch | int + 60 + 604800 }}" # in 1 week
avalanchego_validation_stake_amount: 1000000000 # 1000000000 nAVAX = 1 AVAX
