{# Copyright 2022 Gauthier Leonard

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. #}
[Unit]
Description=AvalancheGo systemd service
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ avalanchego_user }}
WorkingDirectory={{ avalanchego_install_dir }}
ExecStart={{ avalanchego_install_dir }}/current/avalanchego --build-dir={{ avalanchego_install_dir }}/current --config-file={{ avalanchego_conf_dir }}/node.json
Restart=no

[Install]
WantedBy=multi-user.target
