{# Copyright (C) 2022, Gauthier Leonard
See the file LICENSE for licensing terms. #}
[Unit]
Description=AvalancheGo systemd service
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ avalanchego_user }}
WorkingDirectory={{ avalanchego_install_dir }}
ExecStart={{ avalanchego_install_dir }}/current/avalanchego --build-dir={{ avalanchego_install_dir }}/current --config-file={{ avalanchego_conf_dir }}/node.json
Restart=no

[Install]
WantedBy=multi-user.target
