{# Copyright (C) 2022, Gauthier Leonard
See the file LICENSE for licensing terms. #}
{
  {% if avalanchego_use_static_ip %}
  "public-ip": "{{ ansible_host }}",
  {% endif %}
  "http-host": "{{ avalanchego_http_host }}",
  "http-port": {{ avalanchego_http_port }},
  "staking-port": {{ avalanchego_staking_port }},
  "api-admin-enabled": true,
  "snow-sample-size": {{ avalanchego_snow_sample_size }},
  "snow-quorum-size": {{ avalanchego_snow_quorum_size }},
  "db-dir": "{{ avalanchego_db_dir }}",
  "staking-enabled": true,
  "network-id": "{{ avalanchego_network_id }}",
  {% if avalanchego_network_id == 'local' %}
  {% if inventory_hostname == groups['bootstrap_node'][0] %}
  "bootstrap-ips": "",
  "bootstrap-ids": "",
  {% else %}
  "bootstrap-ips": "{{ bootstrap_ip }}:{{ avalanchego_staking_port }}",
  "bootstrap-ids": "{{ avalanchego_bootstrap_node_id }}",
  {% endif %}
  {% endif %}
  "log-level": "{{ avalanchego_log_level }}",
  "log-dir": "{{ avalanchego_log_dir }}",
  {% if avalanchego_use_existing_certs %}
  "staking-tls-cert-file": "{{ avalanchego_certs_dir }}/staker.crt",
  "staking-tls-key-file": "{{ avalanchego_certs_dir }}/staker.key",
  {% endif %}
  "whitelisted-subnets": "{{ avalanche_whitelisted_subnets }}",
  "vm-aliases-file": "{{ avalanchego_conf_dir }}/vms/aliases.json"
}
