{# SPDX-License-Identifier: BSD-3-Clause
Copyright (c) 2022-2023, E36 Knots #}
{
  {% for vm in avalanchego_vms_install %}
  {% set vm_name = vm.split('=')[0] %}
  "{{ avalanchego_vms_list[vm_name].id }}": {{ avalanchego_vms_list[vm_name].aliases | to_json }}{{ ',' if not loop.last else '' }}
  {% endfor %}
}
