# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2022-2023, E36 Knots
---
- name: Initialize the default Ash CLI configuration
  command:
    cmd: ash conf init --config {{ ash_cli_conf_dir }}/default.yml
    creates: "{{ ash_cli_conf_dir }}/default.yml"

- include_tasks: config-custom-network.yml
  loop: "{{ ash_cli_custom_networks | dict2items }}"
  loop_control:
    loop_var: network
