[Unit]
Description=Blockscout
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ blockscout_conf_dir }}
ExecStart=/usr/bin/env /usr/local/bin/docker-compose -f {{ blockscout_conf_dir }}/docker-compose.yml up -d
ExecStop=/usr/bin/env /usr/local/bin/docker-compose -f {{ blockscout_conf_dir }}/docker-compose.yml stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
