{# SPDX-License-Identifier: BSD-3-Clause #}
{# Copyright (c) 2022-2025, E36 Knots #}
{# Secret values injected as ${VAR} into erpc.yaml. Rendered with no_log. #}
{% for key, value in erpc_secret_env.items() %}
{{ key }}={{ value }}
{% endfor %}
