# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2022-2023, E36 Knots
---
- name: "Create {{ avalanchego_user }} user"
  user:
    name: "{{ avalanchego_user }}"

- name: Create AvalancheGo dirs
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ avalanchego_user }}"
    group: "{{ avalanchego_user }}"
  loop:
    - "{{ avalanchego_plugins_dir }}"
    - "{{ avalanchego_releases_dir }}"
    - "{{ avalanchego_db_dir }}"
    - "{{ avalanchego_subnets_conf_dir }}"
    - "{{ avalanchego_chains_conf_dir }}"
    - "{{ avalanchego_vms_conf_dir }}"
    - "{{ avalanchego_certs_dir }}"
    - "{{ avalanchego_log_dir }}"

- name: Bootstrap database
  include_tasks: bootstrap-db.yml
  when: (avalanchego_bootstrap_db is defined) and (avalanchego_bootstrap_db|length > 0)

- name: "Download AvalancheGo {{ avalanchego_version }} binary"
  get_url:
    url: "{{ avalanchego_binary_url }}"
    dest: "{{ avalanchego_releases_dir }}/{{ avalanchego_binary_name }}"
    owner: "{{ avalanchego_user }}"
    group: "{{ avalanchego_user }}"

- name: "Unpack AvalancheGo {{ avalanchego_version }} binary"
  unarchive:
    src: "{{ avalanchego_releases_dir }}/{{ avalanchego_binary_name }}"
    dest: "{{ avalanchego_install_dir }}"
    owner: "{{ avalanchego_user }}"
    group: "{{ avalanchego_user }}"
    remote_src: yes
    creates: "{{ avalanchego_install_dir }}/avalanchego-v{{ avalanchego_version }}"

- name: "Create the symlink to AvalancheGo {{ avalanchego_version }} binary"
  file:
    src: "{{ avalanchego_install_dir }}/avalanchego-v{{ avalanchego_version }}/avalanchego"
    dest: "{{ avalanchego_current_dir }}/avalanchego"
    state: link
    owner: "{{ avalanchego_user }}"
    group: "{{ avalanchego_user }}"
  notify: Restart avalanchego

- name: Template avalanchego.service file
  template:
    src: avalanchego.service.j2
    dest: /etc/systemd/system/avalanchego.service
  notify: Restart avalanchego

- name: Reload systemctl daemons
  systemd:
    daemon_reload: yes
