[Unit]
Description=Graph Node Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/env /usr/local/bin/docker-compose -f ./docker-compose.yml up -d
ExecStop=/usr/bin/env /usr/local/bin/docker-compose -f ./docker-compose.yml down
WorkingDirectory={{ graph_node.paths.conf }}
RemainAfterExit=yes
Environment="COMPOSE_PROJECT_NAME=graphnode"

[Install]
WantedBy=multi-user.target
